.radiobox {
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    overflow: hidden;
    border: 1px solid #b6b6b6;
    div {
        flex: 1;
    }
    input {
        display: none;
    }
    label {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        color: #a8a8a8;
        background: #fff;
        border-right: 1px solid #b6b6b6;
    }
    label:hover {
        background-color: #dddddd;
    }
    div:last-child label {
        border-right: 0;
    }
    input:checked + label {
        font-weight: 900;
        color: #fff;
        background: #f17262;
    }
}