@charset "utf-8";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 30px 50px;
    line-height: 28px;
}

h3 {
    margin-bottom: 4px;
}

.combobox {
    ul {
        width: 300px;
    }
}